.loading {
  height: 100vh;
  padding-top: 70px;
  position: relative;
  align-items: center;

  .loading-notify {
    background-color: aqua;
    height: 18vh;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 45vh;
    left: 25vw;
    border-radius: 5px;
    border: 1px solid #000000;

    .notification {
      padding-top: 8px;
      font-size: 26px;
      font-weight: 600;
    }

    .go_page {
      padding-top: 20px;

      a {
        text-decoration: none;
        color: #000000;
      }
    }
  }
}
