.login-body {
    display: flex;
    height: 650px;
    background-color: #f5f5f5;
    position: relative;

    .left-image {
        
        width: 20%;
        height: 75%;
        background-size: cover;
        background-image: url(../../assets/left_image.jpeg);
    }

    .right-image {
        width: 20%;
        height: 75%;
        background-size: cover;
        background-image: url(../../assets/right_image.jfif);
    }

    .login-form {
        width: 60%;
        height: 100%;
    }
}

.login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    color:#f5f5f5;
    height: 350px;
    background-color: #333;
    position: relative;

    div {
        max-width: 450px;

        
    }

    .f-image1 {
        height: 150px;
        width: 250px;
        background-color: aqua;
    }

    .f-contact {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: aquamarine;
    }
}